/*
	Служебные стили. Тут ничего не стоит изменять!
*/

* {
	font-family: sans-serif;
}

.article__more {
	text-decoration: none;
}

.article {
	line-height: 27px;
}

.header {
	text-align: center;
}

/*
	Ниже можно начинать писать свои стили.
*/

body { 
	margin: 0;
}

.header {
	height: 152px;
	width: 100%;
	padding:40px 0 40px 0;
	background-color: #e5e5e5;	

}
.article {
	height: 185px;
	margin: 30px;
	padding: 10px 30px 10px 30px;
	background-color: #ccc;
	border: 1px dashed rgb(0,0,0);

}

.article__link, .article__more {
	color: black;
}


.article__more:hover {
	text-decoration: underline;
}


.footer {
	height: 50px;
	padding: 15px;
	background-color: #e5e5e5;
	border-top: 1px solid black;
}




































